@import "tailwindcss";

@theme inline {
  --font-playfair: var(--font-playfair-display);
  --font-dmsans: var(--font-dm-sans);
  --font-Open_Sans: var(--font-open-sans);
  --shadow-custom: 0px 2px 15px 0px #7a7a7a1a;
}
html {
  overflow-x: hidden;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 26px;
}
.sidenav-section {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: white;
  background-color: white;
  clip-path: circle(0% at 0% 0%);
  z-index: 30;
  transition: 300ms ease-out;
}

.sidenav-section-show {
  clip-path: circle(130% at 90% 10%);
  transition: 300ms ease-in;
  z-index: 30;
}
